# Árvores de decisão

Abaixo um exemplo de implementação e utilização do algoritmo de árvore decisão utilizando o dataset [Adult](https://archive.ics.uci.edu/dataset/2/adult). Esse material é baseado no curso [Learn Python for Data Science & Machine Learning from A-Z](https://www.udemy.com/course/python-for-data-science-machine-learning).

In [1]:
!pip install ucimlrepo
!pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in c:\users\salat\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ucimlrepo) (2.2.0)
Collecting certifi>=2020.12.5 (from ucimlrepo)
  Downloading certifi-2024.6.2-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\salat\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\salat\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\salat\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\salat\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\salat\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Downloading certifi-2024.6.2-py3-none-any.whl (164 kB)
   ---------------------------------------- 0.0/164.4 kB ? eta -:--:--
   ------------------- -------------------- 81.9/164.4 kB 1.2 MB/s eta 0:00:01
   ---------------------------------- ----- 143.4/164.4 kB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 164.4/164.4 kB 1.1 MB/s eta 0:00:00
Installing collected packages: certifi, ucimlrepo
Successfully installed certifi-2024.6.2 ucimlrepo-0.0.7

In [2]:
from ucimlrepo import fetch_ucirepo 
import pandas as pd
import seaborn as sns
from decision_tree_classifier import DecisionTreeClassifier
import numpy as np

In [5]:
adult = fetch_ucirepo(id=2)

In [32]:
#X = adult['data']['features'] 
#y = adult['data']['targets']
original_adult = adult['data']['original']
original_adult

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [45]:
original_adult['income_more_50k'] = original_adult['income'].isin(['>50K', '>50K.'])
original_adult['income_more_50k'].value_counts()

income_more_50k
False    37155
True     11687
Name: count, dtype: int64

In [23]:
glasses_data = [
    {"sun": "Alta", "driving": 1, "total_time": 30, "use_sunglasses": 1},
    {"sun": "Média", "driving": 0, "total_time": 15, "use_sunglasses": 0},
    {"sun": "Alta", "driving": 0, "total_time": 60, "use_sunglasses": 1},
    {"sun": "Baixa", "driving": 1, "total_time": 20, "use_sunglasses": 0},
    {"sun": "Alta", "driving": 1, "total_time": 45, "use_sunglasses": 1},
    {"sun": "Baixa", "driving": 0, "total_time": 10, "use_sunglasses": 0},
    {"sun": "Média", "driving": 1, "total_time": 25, "use_sunglasses": 1},
    {"sun": "Média", "driving": 0, "total_time": 15, "use_sunglasses": 0},
    {"sun": "Alta", "driving": 1, "total_time": 50, "use_sunglasses": 1},
    {"sun": "Baixa", "driving": 1, "total_time": 20, "use_sunglasses": 0}
]


dataset = pd.DataFrame(glasses_data)
dataset['use_sunglasses'].astype(int)
X = dataset[['sun', 'driving', 'total_time']].values
y = dataset['use_sunglasses']

In [36]:
type(dataset[['sun', 'driving', 'total_time']].values)

numpy.ndarray

In [25]:
dtc = DecisionTreeClassifier()
dtc.fit(X, y)

In [40]:
dtc.predict(np.array([['Alta', 1, 30]], dtype=object))

array([1], dtype=int64)

In [21]:
# dtc.root.splited_feature_index
dtc.root.splited_value

20